<h1>Listings</h1>

<% if @user %>
<form action='listings/new'>
  <input type='submit' value='New Listing'>
</form>
<% end %>

<% @listings.each do |listing| %>
  <br><a href="listings/<%= listing.id %>"><b><%= listing.property_name %></b></a>
  <br> Description: <%= listing.description %>
  <br> Available: <%= listing.available_date %>
  <br> Price: <%= listing.price %>
  <% if listing.available == 't' %>
    <br> Available: Yes
  <% else %>
    <br> Available: No
  <% end %>
  <br>
<% end %>
  <br>
  <br>
<br> You are signed in as: <%= @user.name %>
<form action="sessions/destroy" method="post">
  <input type="submit" value="Sign out" >
</form >
