<br><b><%= @listing.property_name %></b>
<br> Description: <%= @listing.description %>
<br> Available: <%= @listing.available_date %>
<br> Price: <%= @listing.price %>
<% if @listing.available == 't' %>
  <br> Available: Yes
<% else %>
  <br> Available: No
<% end %>
<br> Listed by: <%= @user.name %>

<% if @listing.available == 't' %>
  <form action="<%= @listing.id %>/confirmation" method='get'>
    <input type='submit' value='Book Property'/>
  </form>
<% end %>

<form action='/listings' method='get'>
  <input type='submit' value='Return to Listings'/>
</form>
