<h1>Listings</h1>

<% @listings.each do |listing| %>
  <%= listing.property_name %>
  <%= listing.description %>
  <%= listing.available_date %>
  <%= listing.price %>
  <%= listing.available %>
<% end %>
