<br><b><%= @listing.property_name %></b>
<br> Description: <%= @listing.description %>
<br> Available: <%= @listing.available_date %>
<br> Price: <%= @listing.price %>
<br> Available: <%= @listing.available %>

<form action='/confirmation' method='get'>
  <input type='submit' value='Book Property'/>
</form>
